<div class="about-section">
    <div class="inner-container">
      <h1>About Us</h1>
      <div class="text">
          <h4 style="color: blueviolet;">Our Mission</h4>
          <p class="text" >
        
            We are dedicated to ensuring that all of our school students, regardless of race or economic class, have access to a high-quality education that prepares them for the rigors of college and the workforce. Further, we are committed to sharing innovative tools, strategies and lessons learned in New Visions schools with others in New York and throughout the country to prove that meaningful change is achievable at scale and success is possible for every child.
          </p>
            <h4 style="color: blueviolet;">Our Values</h4> 
           <p>
            We learn, grow and improve by making our practices transparent and collaborating with others.Our work embodies a continuous process for improvement -- analyzing data, developing and implementing actions, assessing impact, and refining strategies to re-imagine the systems that foster innovation and transformative change.
           </p>
      </div>
     
      
    </div>
  </div>