<div style="text-align: center;" class="txt1">
    <h1>XYZ SCHOOL</h1>
    <h4>Learning never stops</h4>
</div>
<div style="text-align: center; margin-left: 40px;">
<img class="d-block img1" src="https://images2.alphacoders.com/720/thumb-1920-720843.jpg" alt="First slide" style="height: 500px; width: 1000px;" >
</div>         
<br>
<div style="text-align: center;">
    <h3>WHY US?</h3>
</div>
<div class="card-group">
    <div class="card m-3 shadow ele1" style="width: 18rem; text-align: center; ">
        <img src="https://www.thecreekschool.com/info/admissions/images/icon5.png" style="width: 40%; height: 40%; margin-left: 30%;" alt="">
        <div class="card-body">
            
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span>
                    People and Best Practices:
                </span>
                 
            
            
          <p class="card-text">
            Employ teachers and staff with the best training and knowledge; who are passionate, committed and result-driven.</p>
        </div>
      </div>
      <div class="card m-3 shadow ele1" style="width: 18rem; ">
        <img src="https://www.thecreekschool.com/info/admissions/images/icon6.png" style="width: 40%; height: 40%; margin-left: 30%;" alt="">
        
        <div class="card-body">
            <div style="color: cornsilk;">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span>
                    Collective Responsibility:
                </span>
                
            </div>
            <p>
                Encourage students, teachers, administration and parents to play an active role in promoting educational excellence.
            </p>
        </div>
      </div>
      <div class="card m-3 shadow ele1" style="width: 18rem; ">
        <img src="https://www.thecreekschool.com/info/admissions/images/icon3.png" style="width: 40%; height: 40%; margin-left: 30%;" alt="">
        <div class="card-body">
            <i class="fa fa-leanpub" aria-hidden="true"></i>
            <span style="color: cornsilk;">
                
                Focus on Learning:
            </span>
            <p>
                Encourage each student to achieve his or her maximum potential both academic and social.
            </p>
        </div>
      </div>
</div>


<!--Footer-->
<footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5>Address</h5>
          <p>27, Motimahal Bldg,Sindhi Colony,  <br>
             Sion, Mumbai, Maharastra <br> Pin:400022</p>
          <small>Phone number:02224032076</small>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          
  
          <p>follow us on </p>
          <div class="icondiv">
            <a href="#" class="fa fa-facebook icons"></a>
            <a href="#" class="fa fa-twitter icons"></a>
            <a href="#" class="fa fa-instagram icons"></a>
            <a href="#" class="fa fa-pinterest icons"></a>
          </div>
          <br>
          <p> 
            Mail: xyzSchools@gmail.com
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://xyzSchools.com/">xyzSchools.com</a>
    </div>
    <!-- Copyright -->
  </footer>